body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: #f3f5f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100vh;
}

/*esta clase correponde a la principal de todo el contenido*/
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

/*esta clase corresponde al contenido de los textos y los botones*/
.prinss {
    width: 50%;
}

 /*esta clase estiliza la palabra "Hola"*/
.text-h {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

 /*al igual que esta, pero utilizando un pseudoelemento para crear 
 el guion bajo que tiene al lado*/
 .text-h::after  {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(247, 243, 20);
}

h1 {
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: #3d535f;
}

/*esta clase estiliza la palabra "Bienvenido"*/
.multitext {
    color: rgb(247, 243, 20);
    text-transform: capitalize;
}

p {
    display: block;
    width: 90%;
    font-size: 13px;
    color: #3d535f;
}

/*esta clase estiliza los dos botones*/
.botons {
    width: 100%;
    position: relative;
    left: 150px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px #363738;
}

/*aqui se utiliza una pseudoclase para que al seleccionar el boton cambie de color*/
button:hover {
    background-color: rgb(167, 46, 46);
}

a {
    text-decoration: none;
    color: #fff;
}

/*esta clase abarca a las tres imagenes que estan del lado derecho*/
.imgts {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgts img {
    position: relative;
    height: 100%;
    top: 60px;
    right: 50px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}

@media (min-height: 690px){
    .imgts .foto {
        width: 530px;
        position: relative;
        top: 170px;
        animation: animateUser 7s linear infinite;
    }
    @keyframes animateUser {
        50% {
            right: 30px;
            top: 160px;
        }
    
    }
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: 90px;
    }
}

/*el id "splash" corresponde al circulo grande que esta al lado derecho*/
.imgts #splash {
    position: absolute;
    top: 20%;
    left: 130%;
    transform: translate(-50%, -50%) rotate(-35deg);
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

 /*este id "splan" corresponde al circulo mediano que esta al lado derecho*/
 .imgts #splan {
    position: absolute;
    top: 20%;
    width: 350px;
    height: 200px;
    transform: translate(-50%, -60%) rotate(-35deg);
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        right: 30px;
        top: 90px;
    }

}

/*esta clase y el id corresponden al circulo que esta al lado izquierdo*/
.otcir #spans {
    position: absolute;
    left: -20px;
    top: 60%;
    position: absolute;
    height: 500px;
    width: 800px;
    transform: translate(-40%, 5px) rotate(-60deg);
    animation: object1 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 51%;
    }
}